aiohttp
aiohttp_middlewares
aiortc
av
av
Flask
Flask_Login
Flask_SocketIO
gevent
gpiozero
joblib
numpy
opencv-python
openvino
openvino_dev
picamera2
python-dotenv
pyzmq
Requests
scikit_learn
Shapely
torch
ultralytics
lgpio